.pturnos {
    text-align: center;
    color: #333; 
    font-family: "Roboto", sans-serif;
    font-size: 18px; 
    margin: 20px 0; 
}

/* Estilo para el formulario de turnos */
#formularioturnos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; 
    background-color: #f9f9f9; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

/* Estilo para los elementos de entrada */
.inputform {
    width: 100%;
    max-width: 400px; 
    margin-bottom: 15px; 
}

.form-control {
    font-family: "Roboto", sans-serif;
    font-size: 16px; 
    padding: 10px;
    border-radius: 5px; 
    border: 1px solid #ccc; 
}

.form-select {
    width: 100%;
    max-width: 400px;
    margin-bottom: 15px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Estilo para el calendario */
.calendario {
    width: 100%;
    max-width: 400px;
    margin-bottom: 15px;
}

.calendario input[type="date"] {
    width: 100%;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Estilo para el botón de envío */
.boton {
    display: flex;
    justify-content: center;
    width: 100%;
}

.boton button {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    background-color: #6c757d; 
    color: white;
    transition: background-color 0.3s ease; 
}

.boton button:hover {
    background-color: $color-red 
}

/* Mensaje de éxito */
#mensajeCliente {
    width: 100%;
    max-width: 400px;
    text-align: center;
}

/* Colores de disponibilidad */
.verde {
    background-color: green !important;
    color: white;
}
.amarillo {
    background-color: yellow !important;
    color: black;
}
.rojo {
    background-color: red !important;
    color: white;
}

/* Estilo para horarios tachados */
option.tachado {
    text-decoration: line-through;
    color: grey;
}

